app.szell.dev {
  encode gzip
  reverse_proxy app:8080 {
    header_up Host {host}
    header_up X-Real-IP {remote}
    header_up X-Forwarded-For {remote}
    header_up X-Forwarded-Proto {scheme}
  }
  # Optional: serve static files from public/
  # root * /app/public
  # file_server
}
