@import "tailwindcss";

@layer utilities {
  .safe-bottom { padding-bottom: env(safe-area-inset-bottom); }
}

html, body, :root { height: 100%; }
.leaflet-popup.place-popup .leaflet-popup-content-wrapper {
  background: transparent;
  box-shadow: none;
  padding: 0;
  border: 0;
}
.leaflet-popup.place-popup .leaflet-popup-content { margin: 0; }
.leaflet-popup.place-popup .leaflet-popup-tip { background: transparent; box-shadow: none; }
